/* about.module.css */
.aboutContainer {
  padding: 3rem;
  background-color: #0a192f;
  background-size: cover;
  background-position: center;
}

.innerContainer {
  max-width: 1320px;
  margin: 0 auto;
  color: #ccd6f6;
}

.aboutRow {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.imageCol {
  text-align: center;
  position: relative;
}

.imageWrapper {
  display: inline-block;
  border: 2px solid #64ffda;
  padding: 20px;
  position: relative;
  background: transparent;
  border-radius: 10px;
  width: 272px;
  height: 390px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}

.profileImage {
  width: 100%;
  max-width: 292px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.imageWrapper:hover {
  transform: translate(10px, 10px);
}

.profileImage:hover {
  transform: translate(-10px, -10px);
}

.textCol {
  text-align: left;
}

.heading {
  font-size: 1.8rem;
  color: #64ffda;
  margin-bottom: 0.2rem;
  font-family: 'Roboto', sans-serif;
}

.headingSkills {
  font-size: 2.5rem;
  color: #717171;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 2px solid #64ffda;
  padding-bottom: 0.5rem;
}

.description {
  font-size: 1.2rem;
  color: #8892b0;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.interestsRow {
  justify-content: center;
  align-items: center;
  margin-bottom: 1.7rem;
}

.interestsCol {
  text-align: left;
}

.headingInterests {
  font-size: 2.5rem;
  color: #717171;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 2px solid #64ffda;
  padding-bottom: 0.5rem;
}

.badgesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.badge {
  font-size: 1rem;
  color: #ccd6f6;
  background-color: #0a192f;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0.3rem;
  display: inline-flex;
  align-items: center;
}

.badge i {
  margin-right: 0.5rem;
}

.badge:hover {
  background-color: #64ffda;
  color: #0a192f;
}
