@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.container {
  display: flex;
  flex-direction: column;
  background-color: #e3e4e5;
  min-height: calc(100vh - 10em);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
}

.containerSize {
  max-width: 1520px;
}

.pageTagline {
  font-size: 1.3em;
  font-weight: 400;
  color: #292929;
  margin-bottom: 2em;
}

.stylishCursive {
  font-family: 'Dancing Script', cursive; /* Replace with your preferred cursive font */
  color: #FF9800; /* Highlight color */
  font-size: 1.9em; /* Adjust size to make it prominent */
  line-height: 1;   /* Ensures proper alignment */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 2px solid #292929;
  margin: 0.5em 1.4em;
  border-radius: 0.3em;
  background: linear-gradient(135deg, rgb(60, 60, 60), rgb(34, 34, 34));
  color: #fff;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 16px 32px rgba(95, 29, 29, 0.2);
}

.cardImg {
  height: 100%; /* Make the image fill the entire card */
  width: 100%; /* Ensure the image takes up the full width */
  object-fit: cover; /* Ensure the image covers the space */
  object-position: center; /* Keep the image centered */
  border-radius: 0; /* Remove rounding to prevent image distortion */
  transition: transform 0.3s ease-in-out;
}

.cardImg:hover {
  transform: scale(0.93); /* Optional: zoom effect on hover */
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1.5em;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.cardTitle {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 0em;
}

.cardText {
  font-size: 0.8em;
  color: #ddd;
  margin-bottom: 1em;
}

.techStack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.2em;
}

.icon {
  font-size: 2em;
  margin: 0.25em;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.button {
  padding: 0.5em 1.2em;
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: #FF9800;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  box-shadow: 0 5px 15px rgba(0, 123, 255, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.buttonIcon {
  font-size: 1.2em;
}
