@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General styles */
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin: 0;
}

.container {
  max-width: 1500px;
  margin: 2rem auto;
  padding: 0rem 2rem 0rem 2rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #FF9800;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  color: #2d3e50;
}

.skillsRow {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 1rem;
  align-items: center; /* Ensure items take full width */
}

.skillCol {
  width: 95%; /* Make each column take the full width */
  margin-bottom: 0.5rem;
}

.skillCard {
  width: 100%; /* Ensure skill cards also take full width */
  max-width: 100%; /* Remove any maximum width restrictions */
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 1rem 2rem;
  text-align: left; /* Align content to the left */
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.skillCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* .skillImageContainer {
  width: 100px;
  height: 100px;
  margin: 0 auto 1rem;
  border: 3px solid #eeeeee;
  border-radius: 50%;
  overflow: hidden;
} */

/* .skillImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.skillTitle {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 0.5rem;
}

.highlight {
  color: #FF9800; /* Set your desired highlight color */
}

.largeText {
  font-size: 1.8rem; /* Adjust this size as needed */
}



.skillDescription {
  font-size: 1rem;
  color: #666666;
}

.toolsTitle {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  border-top: 2px solid #FF9800;
  border-bottom: 2px solid #FF9800;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  color: #2d3e50;
}

.highlight {
  color: #FF9800; /* Desired highlight color for 'T' */
  font-weight: bold; /* Optional: make the highlighted letter bold */
}

.toolsRow {
  margin-top: 2rem;
}

.toolCategoryCol {
  margin-bottom: 2.5rem;
}

.categoryTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333333;
  text-transform: uppercase;
}

.logoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;
}

.toolLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: center;
  background-color: #ffffff00;
  border: 2px solid #e2e1e1;
  border-radius: 8px;
  width: 120px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.toolLabel:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.toolImage {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.toolName {
  font-size: 0.9rem;
  color: #555555;
}
